<app-parent></app-parent>
<app-test2></app-test2>

<!-- <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <div>
      <label for="username">Username:</label>
      <input (keyup)="onChange()" type="text" id="username" formControlName="username">
    </div>
    <div>
      <label for="password">Password:</label>
      <input (keyup)="onChange()" type="password" id="password" formControlName="password">
    </div>
    <button [disabled]="!btn" id="login-button" type="submit">Submit</button>
  </form> -->

<router-outle></router-outle>